<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width
user-scalable=no,
          initial-scale=1.0
maximum-scale=1.0
minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Доска помощи</title>
    <link rel="stylesheet" href="/static/css/bs/bootstrap.min.css">
    {% block styles %}
    {% endblock %}
</head>
<body>
<div class="container mb-5">
    <div class="w-100 mb-5 mt-3 d-inline-flex flex-wrap justify-content-between">
        {% block header %}
        <div class="w-100 flex-fill align-self-center">
            <!--    <h1>Авторизация</h1>-->
        </div>
        <div class="w-100 flex-fill align-self-center text-end">
            <a href="/logout" class="btn btn-danger">Выйти</a>
        </div>
        <div class="w-100 flex-fill align-self-center text-center">
            <h1 style="width: auto">{{ page_header }}</h1>
        </div>
        {% endblock %}
    </div>
    <div class="row w-100">
        <div class="col">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class=""></div>
</div>
<div class=""></div>

<script src="/static/js/bs/bootstrap.min.js"></script>
<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/static/js/jquery/validate.min.js"></script>
{% block scripts %}
{% endblock %}
</body>