{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="/static/css/main_page/style.css">
{% endblock %}
{% block content %}
<h1>Авторизация</h1>
    <div class="col-12 d-flex flex-column align-items-center">

        <form method="post" enctype="multipart/form-data" class="sign-in d-flex flex-column" name="signin"
              id="sign-in-form">
            {{ form.hidden_tag() }}
            <label>Логин</label>
            {{ form.login(type="text", id="login", placeholder="RedTeam", autofocus="required") }}
            <label>Пароль</label>
            {{ form.password(type="password", id="password", placeholder="*********", autofocus="required") }}
            <div class="invalid-feedback">
                {% for item in form.items %}
                {% for error in item.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
                {% endfor %}
            </div>
            <br>
            <button type="submit">Войти</button>
        </form>
    </div>
{% endblock %}